@model BigRoom.Models.Group

@section MainStyle{


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Create Group</h3>
    </div>
    <!-- bradcam_area_end -->

}
<div class="mb-5 mt-5 row">
    <form id="account" asp-action="Create" method="post" style="margin:auto">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="img/form-logo.png" alt="">
                    </a>
                </div>
                <h3>Create Group</h3>

                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-xl-12 col-md-12">
                        <input asp-for="CodeJion" value="@ViewData["Guid"]">
                    </div>
                    <span asp-validation-for="CodeJion" class="text-danger"></span>
                    <div class="col-xl-12 col-md-12">
                        <input asp-for="Name" placeholder="Name">
                    </div>

                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Create</button>
                    </div>
                </div>

               
            </div>
        </div><button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
