@page
@model ConfirmEmailModel

@section MainStyle{


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Email Confirm</h3>
    </div>
    <!-- bradcam_area_end -->

}
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
