@page
@model ForgotPasswordConfirmation
@section MainStyle{


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>ForgotPassword Confirmation</h3>
    </div>
    <!-- bradcam_area_end -->

}
<h3>
    Please check your email to reset your password.
</h3>

