@page
@model ResetPasswordConfirmationModel
@section MainStyle{


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Reset password confirmation</h3>
    </div>
    <!-- bradcam_area_end -->

}
<h3>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</h3>
