@model IEnumerable<GroupPermissionDto>

@section MainStyle{
    <!-- bradcam_area_start -->
    <div class="courses_details_banner">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="course_text">
                        <h3>Group Permission</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
}
<p class="mb-5 mt-5 text-center">
    <button type="button" class="btn btn-primary" onclick="showInPopup('@Url.Action("CreateEdit","GroupPermission",new {groupId=(int)ViewBag.GroupId},Context.Request.Scheme)','Add Permission')">Create Permission</button>

</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                UserProfile
            </th>
            <th>
                Group
            </th>

            <th>
                Quize
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>
}