@model BigRoom.Models.UserGroups

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserGroups</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |


    <a asp-action="Index">Back to List</a>
</div>
