@model IEnumerable<BigRoom.Models.UserGroups>
@section MainStyle{


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>All Join</h3>
    </div>
    <!-- bradcam_area_end -->

}


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>

            </tr>
        }
    </tbody>
</table>
